/dts-v1/;
#include "sun8i-r40-wirenboard74x.dtsi"

/ {
	model = "Wiren Board rev. 7.4.1 (A40i)";
	compatible = "wirenboard,wirenboard-741", "wirenboard,wirenboard-740", "wirenboard,wirenboard-74x", "wirenboard,wirenboard-73x", "wirenboard,wirenboard-72x", "wirenboard,wirenboard-720", "wirenboard,wirenboard-700", "wirenboard,wirenboard-7xx", "allwinner,sun8i-r40";

	a1_volt: a1-volt {
		compatible = "voltage-divider";
		io-channels = <&wbec_adc 6>;
		#io-channel-cells = <1>;

		output-ohms = <10000>;
		full-ohms = <98700>;
		status = "okay";
	};

	a2_volt: a2-volt {
		compatible = "voltage-divider";
		io-channels = <&wbec_adc 7>;
		#io-channel-cells = <1>;

		output-ohms = <10000>;
		full-ohms = <98700>;
	};

	a3_volt: a3-volt {
		compatible = "voltage-divider";
		io-channels = <&wbec_adc 8>;
		#io-channel-cells = <1>;

		output-ohms = <10000>;
		full-ohms = <98700>;
	};

	a4_volt: a4-volt {
		compatible = "voltage-divider";
		io-channels = <&wbec_adc 9>;
		#io-channel-cells = <1>;

		output-ohms = <10000>;
		full-ohms = <98700>;
	};
};
