
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx28-wirenboard50.dts"

/ {
	model = "Wiren Board rev. 5.2 (i.MX28)";
	compatible = "contactless,imx28-wirenboard52", "contactless,imx28-wirenboard50", "fsl,imx28";


	onewire@0 {
		compatible = "w1-gpio";

		 gpios = <&gpio3 20 0>;
		 pu-gpios = <&gpio3 22 0>;
	};


	apb@80000000 {
		apbh@80000000 {

			pinctrl: pinctrl@80018000 {

				rfm69_irq_pins: rfm69_irq_pins@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_LCD_D06__GPIO_1_6
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};





			};




			ssp1: ssp@80012000 {
				compatible = "fsl,imx28-spi";
				pinctrl-0 = <&ssp1_pins_a
						    >;
				pinctrl-names = "default";

				status = "disabled";

				spidev@0 {
					compatible = "spidev";
					spi-max-frequency = <100000>;
					reg = <0>;
				};

			};


			ssp1gpio {
				compatible = "spi-gpio";
				pinctrl-names = "default";
				pinctrl-0 = <&spi1_pins_a_gpio>;
				status = "okay";
				gpio-sck = <&gpio0 25 0>;
				gpio-mosi = <&gpio0 21 0>;
				gpio-miso = <&gpio0 0 0>;
				cs-gpios = <&gpio0 3 0>;
				num-chipselects = <1>;
				#address-cells = <1>;
				#size-cells = <0>;


				spidev@0 {
					compatible = "spidev";
					spi-max-frequency = <10000>;
					reg = <0>;
				};
			};

/*
			spi2 {
				compatible = "spi-gpio";
				pinctrl-names = "default";
				pinctrl-0 = <&spi2_pins_a_gpio>;
				status = "okay";
				gpio-sck = <&gpio2 16 0>;
				gpio-mosi = <&gpio2 17 0>;
				gpio-miso = <&gpio2 18 0>;
				cs-gpios = <&gpio2 19 0>;
				num-chipselects = <1>;
				#address-cells = <1>;
				#size-cells = <0>;


				spidev@0 {
					compatible = "spidev";
					spi-max-frequency = <100000>;
					reg = <0>;
				};
			};
*/


			ssp2: ssp@80014000 {
				status = "disabled";
			};



		};

		apbx@80040000 {
			i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				status = "okay";
				clock-frequency = <400000>;

				gpiomo1: gpio@20 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x20>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <160>;
				};
				gpiomo2: gpio@21 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x21>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <168>;
				};
				gpiomo3: gpio@22 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x22>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <176>;
				};
				gpiomo4: gpio@23 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x23>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <184>;
				};


				/* input extensions modules  */


				gpiomi1: gpio@24 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x24>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <192>;
				};
				gpiomi2: gpio@25 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x25>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <200>;
				};
				gpiomi3: gpio@26 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x26>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <208>;
				};
				gpiomi4: gpio@27 {
				        compatible = "microchip,mcp23008";
				        gpio-controller;
				        #gpio-cells = <2>;
				        reg = <0x27>;

				        interrupt-parent = <&gpio3>;
				        interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				        interrupt-controller;
				        #interrupt-cells=<2>;

				        linux,gpio-base = <216>;
				};

			};

			spdif: spdif@80054000 {
				pinctrl-names = "default";
				pinctrl-0 = <&spdif_pins>;
				status = "okay";
			};
		};

	};

	regulators {
		compatible = "simple-bus";

		reg_usb1_vbus_low: usb1_vbus_low {
			compatible = "regulator-fixed";
			regulator-name = "usb1_vbus_low";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 27 0>;
			/* active low */
		};

		reg_usb1_vbus: usb1_vbus {
			status = "disabled";
		};


	};

	ahb@80080000 {
		usb1: usb@80090000 {
			vbus-supply = <&reg_usb1_vbus_low>;
			status = "okay";
		};
	};

	sound-spdif {
		compatible = "fsl,mxs-spdif-audio";
		model = "On-board SPDIF";
		spdif-controller = <&spdif>;
	};
};
