/dts-v1/;
#include "sun8i-r40-wirenboard73x.dtsi"

/ {
	model = "Wiren Board rev. 7.3.0 (A40i)";
	compatible = "wirenboard,wirenboard-730", "wirenboard,wirenboard-720", "wirenboard,wirenboard-700", "allwinner,sun8i-r40";
};
