/dts-v1/;
#include "sun8i-r40-wirenboard742.dts"
#include "sun8i-r40-wirenboard7xx-38071cb.dtsi"

/ {
	model = "Wiren Board rev. 7.4.2 (A40i) 38071cb";
	compatible = "wirenboard,wirenboard-742-38071cb", "wirenboard,wirenboard-7xx-38071cb", "wirenboard,wirenboard-7xx", "allwinner,sun8i-r40";

	mod1_pinmux_dummy {
		compatible = "regulator-fixed";
		regulator-name = "mod1_pinmux_dummy";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mod1_de_gpio>;
	};

	mod2_pinmux_dummy {
		compatible = "regulator-fixed";
		regulator-name = "mod2_pinmux_dummy";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mod2_de_gpio>;
	};

	mod3_pinmux_dummy {
		compatible = "regulator-fixed";
		regulator-name = "mod3_pinmux_dummy";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mod3_de_gpio>;
	};

	wirenboard {
		gpios {
			MOD1_OUT1 { io-gpios = <&pio 1 4 0>; sort-order = <11>; gpio-xlate-type = "bank_pin"; gpio-pins-per-bank = <32>; };
			MOD2_OUT1 { io-gpios = <&pio 2 20 0>; sort-order = <21>; gpio-xlate-type = "bank_pin"; gpio-pins-per-bank = <32>; };
			MOD3_OUT1 { io-gpios = <&pio 4 10 0>; sort-order = <31>; gpio-xlate-type = "bank_pin"; gpio-pins-per-bank = <32>; };
		};
	};

	mod4_pps {
		compatible = "pps-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mod4_de_gpio>;
		gpios = <&pio 8 14 0>;
	};
};

&uart3 { /* MOD4 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mod4_txrx_uart>;
	status = "okay";
};
